@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root {
/* Primary */
--soft-blue:hsl(231, 69%, 60%);
--soft-red: hsl(0, 94%, 66%);

/* Neutral */

--grayish-blue: hsl(229, 8%, 60%);
--dark-blue: hsl(229, 31%, 21%);
}
body {
    font: 1rem / 1.5 'Rubik', sans-serif;
}
/* Custom Utilities */
.content-section {
    padding-top:4rem;
    padding-bottom:4rem;
}
.w-55 {
    width:100%;
}
.py_2 {
    padding-top:0.6rem;
    padding-bottom:0.6rem;
}
.py_3 {
    padding-top:0.8rem;
    padding-bottom:0.8rem;
}
/* Buttons */
.red-btn {
    background-color: var(--soft-red);
    letter-spacing: 0.1rem;
}
.blue-bg {
    background-color:var(--soft-blue);
}
.light-btn {
    background-color: var(--white);
    color:var(--dark-blue);
}
.red-btn:hover, .blue-bg:not(.content-section):hover, .light-btn:hover {
    background-color:white;
}
.red-btn:hover {
    color:var(--soft-red) !important;
    border-color:var(--soft-red) !important;
}
.blue-bg:hover {
    color:var(--soft-blue) !important;
    border-color:var(--soft-blue);
}
.light-btn:hover {
    border-color:var(--dark-blue);
}
.darkblue-clr {
    color: var(--dark-blue) !important;
}
.darkblue-bg {
    background-color: var(--dark-blue);
}
p, .grayish-clr {
    color:var(--grayish-blue);
}
.fw-medium {
    font-weight: 500 !important;
}
.text-spacing-reset {
    letter-spacing:0 !important;
}
.text-spacing-3 {
    letter-spacing: 3px;
}
.text-spacing-n2 {
    letter-spacing: -0.25px;
}
btn:focus, a:focus, .accordion-button:focus {
    outline: none;
    box-shadow: none;
}
.nav-link {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-size: 0.875rem;
}
.nav-link:hover {
    color:var(--soft-red) !important;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}
.featured_tabs {
    width:max-content;
}
.featured_tabs .nav-link.active {
    border-bottom: 4px solid var(--soft-red) !important;
}
.dl-image {
    height: 100px;
    object-fit: contain;
}
.form-floating > label {
    color:var(--grayish-blue);
}
@media (min-width:992px) {
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-40 {
        width: 40% !important;
    }
}
@media (min-width: 768px) {
    .content-section {
        padding-top:5rem;
        padding-bottom:5rem;
    }
    .w-md-auto {
        width: auto !important;
    }
    .w-md-87 {
        width: 87% !important;
    }
    .w-55 {
        width:55%;
    }
}
@media (min-width:576px) {
    .w-sm-auto {
        width: auto !important;
    }
}