@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root {
/* Primary */
--soft-blue:hsl(231, 69%, 60%);
--soft-red: hsl(0, 94%, 66%);

/* Neutral */

--grayish-blue: hsl(229, 8%, 60%);
--dark-blue: hsl(229, 31%, 21%);
}
body {
    font: 1rem / 1.5 'Rubik', sans-serif;
}
/* Custom Utilities */
.w-55 {
    width:55%;
}
.w-87 {
    width: 87%;
}
.red-btn {
    background-color: var(--soft-red);
    letter-spacing: 0.1rem;
}
.blue-btn {
    background-color:var(--soft-blue);
}
.light-btn {
    background-color: var(--white);
    color:var(--dark-blue);
}
p {
    color:var(--grayish-blue);
}
.fw-medium {
    font-weight: 500 !important;
}
btn:focus, a:focus {
    outline: none;
}
.nav-link {
    font-size: 1rem;
    color:var(--dark-blue) !important;
    letter-spacing: 0.1rem;
}
.nav-link:hover {
    color:var(--soft-red) !important;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}
